<div class="container">
    {{ form_start(form) }}
        <div class="form-group mb-2">
            {{ form_label(form.sectionTitle, "Titre: ") }}
            <br>
            {{ form_widget(form.sectionTitle, {'attr': {'class': 'mt-1'}}) }}
            {{ form_errors(form.sectionTitle) }}
        </div>
        <div class="form-group mb-2">
            {{ form_label(form.sectionDetail, "Description: ") }}
            <br>
            {{ form_widget(form.sectionDetail, {'attr': {'class': 'mt-1'}}) }}
            {{ form_errors(form.sectionDetail) }}
        </div>

        <button class="btn btn-primary">{{ button_label|default('Créer') }}</button>
    {{ form_end(form) }}
</div>
