{# templates/section/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Sections{% endblock %}

{% block body %}
    <h1>Liste des Sections</h1>

    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for section in sections %}
                <tr>
                    <td>{{ section.sectionTitle }}</td>
                    <td>
                        <a href="{{ path('section_show', { slug: section.section_slug }) }}">Voir</a>
                        <a href="{{ path('section_edit', { id: section.id }) }}">Éditer</a>
                        <form method="post" action="{{ path('section_delete', { id: section.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette section ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ section.id) }}">
                            <button type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Aucune section disponible.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('section_new') }}">Ajouter une nouvelle section</a>
{% endblock %}
