{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/article-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ article.title }}</h1>
                        <span class="meta">
                            Posté par
                            <a href="#!">{{ article.user.fullname }}</a>
                            le {{ article.articleDatePosted|date('d-m-Y') }}
                        </span>
                        <br>
                        <span class="meta">
                            {% for section in article.sections %}
                                {% if not loop.last %}
                                    <a href="{{ path('section', {slug: section.sectionSlug}) }}" class="section-link">{{ section.sectionTitle }},</a>
                                {% else %}
                                    <a href="{{ path('section', {slug: section.sectionSlug}) }}" class="section-link">{{ section.sectionTitle }}</a>
                                {% endif %}
                            {% endfor %}
                            <style>
                            .section-link:hover {
                                color: #b0a6a6 !important;
                            }
                            </style>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <h2>{{ article.title }}</h2>
        <p class="fs-4">
            {{ article.text|nl2br }}
        </p>
        <h3 class="mb-4">Commentaires</h3>
        {% for comment in comments %}
            <p><strong>{{ comment.user.fullname }}</strong>: {{ comment.commentMessage }}</p>
        {% endfor %}
    </div>

    {% if user %}
        <div class="container">
            <h2>Laisser un commentaire</h2>
        </div>
        {% include("./comment/_form.html.twig") %}
    {% endif %}

{% endblock %}
