
{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<h1>{{ article.title }}</h1>
<p>{{ article.text }}</p>
<small>Created on {{ article.article_date_create|date('Y-m-d H:i') }}</small>

<a href="{{ path('article_edit', {slug: article.title_slug}) }}">Edit Article</a>
<a href="{{ path('article_delete', {slug: article.title_slug}) }}" class="btn btn-danger">Delete Article</a>
<a href="{{ path('homepage') }}">Back to Home</a>
{% endblock %}
